@use '../variables'
@use '../mixins'

.commum
    grid-column: 1 / span 3

.similar
    grid-column: 1 / span 2

.bank_info
    display: grid
    grid-template-columns: 1fr .5fr 1fr
    gap: .5rem
    padding: 1rem 0

