@use '../../styles/variables'
@use '../../styles/mixins'

.btn
    padding: .4rem 1rem
    background-color: variables.$primary-color
    border-radius: .25rem
    outline: none
    border: none
    cursor: pointer
    color: variables.$secondary-light

    &:hover
        color: variables.$white
        background-color: variables.$primary-dark
        scale: 1.05
