@use '../../styles/variables'
@use '../../styles/mixins'


.welcome .page_container
    height: calc( 100vh - 80px )

.welcome .content_container
    background-image: url("src/assets/Calculistas.svg")
    background-repeat: no-repeat
    background-size: cover