@use '../../styles/variables'

.nav_container
    background-color: variables.$secondary
    width: 350px
    height: variables.$height-size
    padding: 1rem
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.3)
    position: sticky
    top: 80px
    left: 0

#hideMenu
    display: flex
    justify-content: right
    font-size: 20px
    padding: .5rem 1rem 1rem 1rem
    border-bottom: 1px solid variables.$primary-color

    &:hover i
        cursor: pointer
        color: variables.$primary-dark

.menu
    padding: 1rem .5rem
    display: flex
    flex-direction: column
    gap: .5rem

    li
        font-size: 11px

    a
        display: flex
        align-items: center
        gap: .5rem
        padding: .3rem 0
        border: 1px solid transparent

        &:hover
            border-left: 5px solid variables.$primary-dark
            padding: .3rem 

        i
            font-size: 25px
            color: inherit

        h2, h3
            margin: 0
            text-shadow: none

        &:hover i
            color: variables.$primary-dark

        &:hover h2
            color: variables.$primary-dark


.subMenu
    display: none
    transition: opacity 1s ease 0s

    li
        margin-left: 2rem
        margin-top: .5rem

    a
        &:hover h3
            color: variables.$primary-dark

.collapsedSubMenu
    display: block

.collapsed
    width: 70px

    #hideMenu, .menu
        justify-content: center


.menu_option.active
    h2, i
        color: variables.$primary-dark
    
    border-left: 5px solid variables.$primary-dark